<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Bancomat</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Versamento</display-name>
    <servlet-name>Versamento</servlet-name>
    <servlet-class>presentation.Versamento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Versamento</servlet-name>
    <url-pattern>/Versamento</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletPrelievo</display-name>
    <servlet-name>ServletPrelievo</servlet-name>
    <servlet-class>presentation.ServletPrelievo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPrelievo</servlet-name>
    <url-pattern>/ServletPrelievo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletVersamento</display-name>
    <servlet-name>ServletVersamento</servlet-name>
    <servlet-class>presentation.ServletVersamento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletVersamento</servlet-name>
    <url-pattern>/ServletVersamento</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletContoCorrente</display-name>
    <servlet-name>ServletContoCorrente</servlet-name>
    <servlet-class>presentation.ServletContoCorrente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContoCorrente</servlet-name>
    <url-pattern>/ServletContoCorrente</url-pattern>
  </servlet-mapping>
</web-app>